<script src="{{site.baseurl}}/assets/js/jquery.js"></script>
<script src="{{site.baseurl}}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/assets/js/sticky.js"></script>
<script src="{{site.baseurl}}/assets/js/custom.js"></script>
<script>
    $(window).scroll( function(){
        var postHeight  =  $("#sidebar").height();
        var postContHeight  = $('#post-cont').height() - postHeight;

    if( $(window).scrollTop() < postContHeight){
          $("#sidebar").addClass("sticky");
          $('#sidebar').removeClass("abso");
        }
    
    else {
        $("#sidebar").removeClass("sticky");
        $('#sidebar').addClass("abso");

           
}
      
});
</script>
<!-- search script -->

<!-- search script -->
